extends ../layouts/layout
block head
  title Работники отделения
  link(href='css/employee.css', rel='stylesheet')
block body
  .container-fluid
    .row
      .col-sm-3.col-md-2.sidebar
        ul.nav.nav-sidebar
          li.active
            a(href='/employee') Сотрудники
          li
            a(href='/statistics') Статистика
      .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
        table.table.table-bordered
          thead
            tr
              th Фамилия
              th Имя
              th Отчество
              th Дата рождения
              th Номер паспорта
              th Номер жетона
              th Адрес
              th Телефон
              th E-mail
          tbody
            -for (var i=0;i<employees.length;i++)
              tr
              each val1 in employees[i]
                td=val1
              td(style="border-bottom: hidden;border-top: hidden;border-right: hidden;")
                span.glyphicon.glyphicon-remove.btn.btn-link(onclick="remove(" + i + ")")
  script(src='bower_components/angular/angular.js')
  script(src="/js/logout.js")
  script(src="/js/employee.js")
  include ../layouts/scripts