script(src='/libs/jquery/dist/jquery.min.js')
script(src='/libs/bootstrap/js/bootstrap.min.js')
script(src='/js/general/logout.js')
script(src='/libs/socket.io.js')
script(src='/libs/bootstrap-select-1.12.1/dist/js/bootstrap-select.min.js')