extends ../layouts/layout
block head

block body
  .container-fluid
    .row
      .col-sm-3.col-md-2.sidebar
        ul.nav.nav-sidebar
          li.active
            a(href='#') Просмотр заявлений

      .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
        table.table.table-bordered
          thead
            tr
              th Текст заявления
              th Просмотрено?
              th Принято?
          tbody
            -for (var m=0;m<statements.length;m++)
            tr
              td=statements[m]['text']
              if statements[m]['viewed'] == true
                td
                  span.glyphicon.glyphicon-ok.btn.btn-link
              else
                td
                  span.glyphicon.glyphicon-minus.btn.btn-link(onclick="viewed(" + m + ")")
              if statements[m]['accepted'] == true
                td
                  span.glyphicon.glyphicon-ok.btn.btn-link
              else
                td
                  span.glyphicon.glyphicon-minus.btn.btn-link(onclick="accepted(" + m + ")")
  include ../layouts/scripts