extends  layout
block head
    title Вход
    link(href='css/login.css', rel='stylesheet')
block body
    .container
      .form-signin
        h2.form-signin-heading Вход:
        input.form-control.email(type='email', placeholder='Логин/E-Mail', autofocus)
        input.form-control.pass(type='password', placeholder='Password', required)
        button.btn.btn-lg.btn-primary.buttons(onclick="login()") Войти
        button.btn.btn-lg.btn-primary.buttons(onclick="register()") Регистрация

    script(src="/js/login.js")
    script(src='bower_components/jquery/dist/jquery.min.js')
    script(src='bower_components/bootstrap/js/bootstrap.min.js')
