extends layout
block head
  title Профиль
  link(href='css/profile.css', rel='stylesheet')
block body
  .container(align="center")
    p Фамилия:
    p=user['surname']
    p Имя:
    p=user['name']
    p Отчество:
    p=user['patronymic']
    p 
    p
    p
    p
    p
    p
    p
    p
    p
    p
  include scripts