extends ../layouts/layout
block head
  title Регистрация
  link(href="css/user/register.css", rel="stylesheet")
block body
  .container
    form.form-signin(action="/register", method="POST")
      h2.form-signin-heading(align="center") Регистрация
      input.form-control.surname(type="text", placeholder="Фамилия", onblur="checkSurname()", name="surname", required)
      input.form-control.name(type="text", placeholder="Имя", onblur="checkName()", name="name" required)
      input.form-control.patronymic(type="text", placeholder="Отчество", onblur="checkPatr()", name="patronymic", required)
      input.form-control.birth(type="date", id="birth", placeholder="Дата рождения", onblur="checkBirth()", name="birth" required)
      input.form-control.passport(type="text", placeholder="Номер паспорта", onblur="checkPassport()", name="passport", required)
      input.form-control.address(type="text", placeholder="Домашний адрес", onblur="checkAddress()", name="address" required)
      input.form-control.tel(type="tel", placeholder="Номер телефона", onblur="checkTel()", name="tel", required)
      input.form-control.log(type="text", placeholder="Логин", onblur="checkLog()", name="log", required)
      input.form-control.pass(type="password", placeholder="Пароль", onblur="checkPass()", name="pass", required)
      input.form-control.email(type="email", placeholder="E-Mail", onblur="checkEmail()", name="email", required)
      button.btn.btn-lg.btn-primary.button(type="submit") Зарегистрироваться
  include ../layouts/scripts
  script(src="/js/user/register.js")