extends ../layouts/layout

block head
  link(href='/css/general/index.css', rel='stylesheet')
  title Главная

block body
    .jumbotron
      .container
        h1 Добро пожаловать!
        p Перед вами страница полицейского участка на которой вы можете оставить заявление.
        p
          a.btn.btn-primary.btn-lg(role='button',href='/about') Узнать больше &raquo;