extends  ../layouts/layout
block head
  title Вход
  link(href="css/general/login.css", rel="stylesheet")
block body
  .container
    form.form-signin(action="/login", method="POST")
      h2.form-signin-heading Вход:
      input.form-control.email(type="text", placeholder="Логин/E-Mail", name="log", required, autofocus)
      input.form-control.pass(type="password", placeholder="Пароль", name="pass", required)
      button.btn.btn-lg.btn-primary.buttons(type="submit") Войти
  include ../layouts/scripts
  script(src="/js/general/login.js")