extends ../layouts/layout
block head
  title Запросы
  link(href='css/general/query.css', rel='stylesheet')
block body
  .container-fluid
    .row
      .col-sm-3.col-md-2.sidebar
        ul.nav.nav-sidebar
          li
            a(href='/employees') Сотрудники
          li
            a(href='/employees/add') Добавить сотрудника
          li
            a(href='/statistics') Статистика
          li.active
            a(href='/query') Запрос
  .container(align="center")
    textarea.form-control
    button.btn.btn-default Запрос
    p.result
    table.table.table-bordered
  include ../layouts/scripts
  script(src="/js/general/query.js")
  script.
