extends ../layouts/layout
block head
  title Запросы
  link(href='css/general/query.css', rel='stylesheet')
block body
  .container(align="center")
    textarea.form-control
    button.btn.btn-default Запрос
    p.result
    table.table.table-bordered
  include ../layouts/scripts
  script(src="/js/general/query.js")
  script.
