@import "../general/general.styl"
body
  padding-top: 50px
  padding-bottom: 20px

.submit
  visibility hidden

textarea.form-control
  height 300px
  width 500px

.btn
  &.btn-danger
    margin 5px

.btn
  &.btn-success
    margin 3px

.dropdown
  display inline-block
  margin 3px

select
  margin 5px

textarea.form-control
  width 100%
  text-align center

.add-btn
  margin 20px

p
  display inline-block

.con
  display inline-block
  width 33%

input
  margin 10px