@import "../general/general.styl"

input
  margin 10px

h4
  display inline-block

select
  margin 10px

input.form-control
  width 15%
  display inline-block

button
  margin-bottom 5px

.form-control
  width 35%

.btn-success
  margin 5px